##Change these to be accurate for you. Point the website address to the admin edit players page, and set your email and password for the admin account you want to use to log in.

WEBSITE_ADDRESS=https://cuhcbdoty.fantasyclubhockey.co.uk/admin/edit-players
EMAIL_ADDRESS=email
PASSWORD=password
CSV_TO_UPLOAD=bdoty_players.csv